header img {
  height: 2cm;
  width: 2cm;
  position: absolute;
  left: 1cm;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: green;
  padding: 5px;
  width: 400px;
  position: absolute;
  right: 500px;
}
header nav div {
  display: flex;
  align-items: center;
  margin: 10px 20px;
  width: 200px;
}
.quo {
  font-size: xx-large;
  position: absolute;
  top: 3cm;
  left: 700px;
  color: blue;
}
.login-page {
  position: absolute;
}
body {
  background-image: url(../IMG/airplane-flying-cloudy-sky.png);
  background-repeat: no-repeat;
  background-size: 1600px 800px;
}
